<h3><%=params[:nickname] %></h3>

<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th></th>
    <th>イベント</th>
  </tr>
<% @events.each_with_index{ |event,index| %>
  <tr>
    <td><span class="badge"><%= index+1 %></span></td>
    <td>
      <%= link_to( event['title'], action: 'events', event_id: event['event_id'] ) %>
    </td>
  </tr>
<% } %>
</table>
