<h1>Zussar#index</h1>
<p>Find me in app/views/zussar/index.html.erb</p>

<% event = @zusaar_event_list['event'].first %>
<%= event['title'] %><br/>
<%= event['accepted'] %>/<%= event['limit'] %><br/>

