<table border=1>
  <tr>
    <th></th>
    <th>タイトル</th>
  </tr>
<% @events.each_with_index{|event,index| %>
  <tr>
    <td><%=(index+1) %></td>
    <td><%= link_to( event.title, event.event_url ) %></td>
  </tr>
<% } %>
</table>
