<footer>
  <p>
    <%=link_to( image_tag( '/images/don_icon.png', :size => '16x16', ),
                'http://joomla.rubyprogrammer.info/', target: '_blank' ) %> Team Pan-ya© 2013
    <%=link_to( image_tag( '/images/github_icon.ico',  :size => '16x16' ) + 'onGithub',
                'https://github.com/mitsuhirookuno/Rails4Tutorial',
                { 'target' => '_blank', 'data-toggle' => 'tooltip', 'title' => 'ソースコードはこちら！' }    ) %>
    <%=link_to( image_tag( '/images/jenkins_icon.ico', :size => '16x16' ) + 'onJenkins',
                'http://jenkins.rubyprogrammer.info/job/Rails4Tutorial-Build/',
                { 'target' => '_blank', 'data-toggle' => 'tooltip', 'title' => '継続的インテグレーションツールはこちら！' }    ) %>
    <%=link_to( image_tag( '/images/blog_icon.png',    :size => '16x16' ) + 'onBlog',
                'http://www.rubyprogrammer.info/',
                { 'target' => '_blank', 'data-toggle' => 'tooltip', 'title' => '作者のblog(？)はこちら！' }    ) %>
  </p>
</footer>
