<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th>参加順</th>
    <th>参加者</th>
    <th>ソーシャル</th>
    <th>出席/欠席</th>
  </tr>
<% @users.each_with_index{ |user,index| %>
  <tr>
    <td>
      <span class="badge">
        <%=(index+1) %>
      </span>
    </td>
    <td>
      <% if @event.owner_id == user.user_id %>
      <span class="label label-important">オーナー</span>
      <% end %>
      <%= link_to( user.nickname, controller: 'zussar/users', action: 'show', id: user.user_id  ) %>
    </td>
    <td>
     <% if user.profile_url.match(%r!^http://twitter\.com!)
          sns_type = 'twiiter'
        elsif  user.profile_url.match(%r!^http://www\.facebook\.com!)
          sns_type = 'facebook'
        else
          sns_type = 'mixi'
        end %>
     <%=link_to( sns_type, user.profile_url ) %>
    </td>
    <td><%=(user.status=='1')? '出席':'キャンセル待ち' %></td>
  </tr>
<% } %>
</table>
