// Place all the styles related to the qiita controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    margin-bottom: 1em;
    span.user_image {
        display: inline-block;
        margin-right: 1em;
    }
}

span.qiita_category_img {
    display: inline-block;
    padding: 2px;
}