// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.nav-list li {
    border-bottom: 1px dashed #aaa;
    &:first-child {
        border-bottom: 1px solid #aaa;
    }
    &:last-child {
        border-bottom: none;
    }

    a {
        line-height: 40px;
    }
}

footer {
    padding: 2em;
    p {
        text-align: center;
    }
}