<h1>Qiita#tags</h1>
<p>Find me in app/views/qiita/tags.html.erb</p>

<table border='1'>
<% @qiita_timelines.each_with_index{ | timeline, index | %>
  <tr>
    <td>
      <% timeline['tags'].each_with_index{ | tag, index | %>
        <% if tag['icon_url'] == '/icons/medium/missing.png' %>
          <%= image_tag( 'http://qiita.com/icons/medium/missing.png', :size => '32x32', :alt => tag['name'], :title => tag['name'] ) %>
        <% else %>
          <%= link_to( image_tag( tag['icon_url'], :size => '32x32', :alt => tag['name'], :title => tag['name'] ), action: 'tags', tag: tag['name'] ) %>
        <% end %>
      <% } %>
    </td>
    <td><%=link_to timeline['title'], timeline['url'] %></td>
    <td><%= link_to( image_tag( timeline['user']['profile_image_url'], size: '32x32', alt: timeline['user']['url_name'], title: timeline['user']['url_name']  ), action: 'users', user: timeline['user']['url_name'] ) %></td>
  </tr>
<% } %>
</table>
